@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?kcpfay');
	src:url('../font/icomoon.eot?#iefixkcpfay') format('embedded-opentype'),
		url('../font/icomoon.woff?kcpfay') format('woff'),
		url('../font/icomoon.ttf?kcpfay') format('truetype'),
		url('../font/icomoon.svg?kcpfay#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-left:before {
	content: "\e60b";
	color: #aaa;
	font-size: 14px;
}

.icon-exit:before {
	content: "\e60c";
}

.icon-google-plus:before {
	content: "\e607";
	color: #dd4b39;
}

.icon-tumblr:before {
	content: "\e608";
	color: #32506d;
}

.icon-twitter:before {
	content: "\e609";
	color: #00aced;
}

.icon-facebook:before {
	content: "\e60a";
	color: #3b5998;
}

.icon-arrow-move:before {
	content: "\e60d";
}

.icon-download:before {
	content: "\e600";
}

.icon-edit:before {
	content: "\e601";
}

.icon-eye-blocked:before {
	content: "\e602";
}

.icon-eye:before {
	content: "\e60f";
	font-size: 19px;
}
.icon-help:before {
	content: "\e603";
}

.icon-plus:before {
	content: "\e604";
}

.icon-share:before {
	content: "\e605";
}

.icon-trash:before {
	content: "\e606";
}

.icon-check:before {
	content: "\e60e";
	font-size: 16px;
}
