/*@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);*/

@media screen and (max-width: 1280px) {
  .tools {
    width: 7% !important;
  }

  .tools li {
     height: 9.23% !important;
  }

  .tools li:first-child {
      height: 15.23% !important;
  }

  .back a {
    padding: 4%;
  }
}

/*************************/


* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Oxygen, sans-serif;
  min-height: 100% !important;
  height: 100%;
  background: #F8F8F8;
}

a {
  text-decoration: none;
}

.whitelogo {
  width: 60%;
  height: 60%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.tools {
  position: fixed;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 5%;
  background: #262626;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.tools p {
  display: inline-block;
  position: relative;
  top: 37px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
  font-size: 12px;
  visibility: hidden;
}

.tools li {
  list-style: none;
  height: 12.23% !important;
  border: 1px solid #333333;
  height: auto;
  color: #BDC3C7;
  text-align: center;
  -webkit-font-smoothing: antialised;
}

.tools li:hover {
  background: #333333;
  color: #fff;
  cursor: pointer;
}

.tools li:hover p {
  display: block;
  visibility: visible;
}

.tools li:hover p,
.tools li:hover span {
  top: 44%;
  -webkit-transition: all ease 0.2s;
}

.tools span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.icon-eye,
.icon-edit,
.icon-plus,
.description {
  font-size: 13px;
}

.tools,
#content {
  float: left;
}

#content {
  position: absolute;
  display: inline-block;
  left: 5%;
  width: 95%;
  height: 100%;
  background: #F8F8F8;
}

/******************** MENU **********************/

hgroup {
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 20px;
  padding: 20px;
}

.description {
  color: #858585;
  margin-top: 10px;
  line-height: 18px;
}

.menu-vertical {
  background: #F5F5F5;
  border-right: 1px solid #E2E2E2;
  position: absolute;
  color: #000;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1;
}

.cbp-spmenu-left {
  left: -241px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 5%;
  z-index: 999;
}
.cbp-spmenu-left {
  left: -241px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 5%;
}
.cbp-spmenu-left.cbp-spmenu-open.ng-enter {
  left: -241px;
}
.cbp-spmenu-left.cbp-spmenu-open.ng-enter-active {
  left: 5%;
}
.cbp-spmenu-left.cbp-spmenu-open.ng-leave {
  left: 5%;
}
.cbp-spmenu-left.cbp-spmenu-open.ng-leave-active {
  left: -241px;
}

/*.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}*/

.push-toright {
  left: 240px;
}

/* Transitions */
.menu-vertical {
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.dom {
  list-style: none;
  padding: 0 20px;
}

.dom li {
  line-height: 26px;
  font-size: 13px;
}

.dom a {
  text-align: center;
  width: 100%;
  display: block;
  margin: 20px auto 0;
  color: #EAB762;
}

.dom span {
  float: right;
  font-size: 12px;
  margin-top: 7px;
}

.dom .icon-trash:hover,
.dom .icon-plus:hover,
.dom .icon-edit:hover {
  color: #EAB762;
  transition: color 0.2s ease;
  cursor: pointer;
}

.dom .icon-edit {
  margin-right: 10px;
}

/***********************/

.draggable:hover {
  border: 1px dashed #E2E2E2;
  color: #EAB762;
  padding: 0 6px;
  margin: -1px -7px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.draggable::active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.is-dragging {
  background: #262626;
}

.is-active {
  z-index: 100;
}

.is-dropped {
  opacity: 0;
  -webkit-transform: scale3d(0.7,0.7,1) !important;
  transform: scale3d(0.7,0.7,1) !important;
}

.is-complete {
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s !important;
  transition: opacity 0.3s, transform 0.3s !important;
  -webkit-transform: scale3d(1,1,1) !important;
  transform: scale3d(1,1,1) !important;
}

.animate {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.drop-area .one-col {
  width: 80%;
  height: 100%;
/*  -webkit-transition: -webkit-transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s;
  -webkit-transform: translate3d(0,10%,0);
  transform: translate3d(0,10%,0);*/
}

.drop-area__item {
  position: relative;
  display: inline-block;

  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  -webkit-transition: -webkit-transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s;
  -webkit-backface-visibility: hidden;
}

.drop-area__item.highlight {
  background: rgba(0,0,0,0.04);
  -webkit-transform: scale3d(1.03,1.03,1);
  transform: scale3d(1.03,1.03,1);
}

.drop-area__item::before,
.drop-area__item::after {
  position: absolute;
 /* left: calc(50% - 50px);*/
  color: rgba(0,0,0,0.15);
  pointer-events: none;
}

.drop-area__item::before {
  font: 14px Oxygen, sans-serif;
  /*content: 'Drag items here';*/
}

.drop-feedback.drop-area__item::before {
  opacity: 0;
  -webkit-transform: scale3d(0,0,1);
  transform: scale3d(0,0,1);
}

.drop-area__item::after {
  font: 12px Oxygen, sans-serif;
  color: #ccc;
  content: 'Done';
  /*margin-top: -0.5em;*/
  margin-left: 37px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(2,2,1);
  transform: scale3d(2,2,1);
}

.drop-feedback.drop-area__item::after {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.drop-area.show + .drop-overlay {
  opacity: 1;
}

.helper {
  position: absolute !important;
  margin: 0;
}

/*******************************************/

.one-col {
  display: block;
  margin: 20px auto 40px;
  width: 85%;
  border: 1px dashed #ccc;
  background: white;
  text-align: center;
  padding: 20px;
  color: #DBDBDB;
  min-height: 500px;
}

.btn {
  display: block;
  margin: 30px auto;
  font: 14px sans-serif;
  background: #F8C16A;
  padding: 10px 35px;
  border: 0;
  color: #fff;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  background: #EAB762;
}

.cancel,
.confirm {
  display: inline-block;
  padding: 10px 30px;
  margin: 30px 5px;
}

.cancel {
  background: #aaa;
}

.cancel:hover {
  background: #777;
  transition: background ease 0.4s;
}

/************/

.comp-share,
.comp-delete,
.comp-help,
.comp-download {
  top: calc(50% - 65px);
  left: calc(50% - 160px);
  position: absolute;
  height: 100px;
  width: 280px;
  padding: 30px;
  background: #fff;
  text-align: center;
  z-index: 50;
  border-radius: 3px;
}

.comp-delete {
  height: 117px;
}

.comp-download {
  height: 150px;
}

.comp-download p {
  font-size: 12px;
  margin: 10px 0;
}

.theme-name
{
  color: #F8C16A;
  text-align: center;
}

#content .theme-name {
  color: #262626;
  display: block;
  margin: 20px auto;
}

#content .theme-name span {
  margin-left: 10px;
  color: #F8C16A;
}

#content .theme-name span:hover {
  color: #EAB762;
  cursor: pointer;
}


.comp-download .icon-download {
  text-align: center;
  display: block;
  font-size: 26px;
  margin: 20px 0 -10px;
  color: #ddd;
}

.comp-help {
  top: calc(50% - 190px);
  height: 380px;
}

.comp-help iframe {
  display: block;
  margin: 20px auto;
}


.comp-share a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.comp-share h3,
.comp-help h3 {
  margin-bottom: 30px;
  color: #000;
}

.comp-share li {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.comp-share li:last-child {
  margin-right: 0;
}

.comp-share li:hover {
  top: -2px;
  -webkit-transition: top ease 0.6s;
}

.comp-share span {
  display: block;
  margin-bottom: 5px;
  font-size: 21px;
}

.close-menu {
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  background: #F5F5F5;
  border: 1px solid #E2E2E2;
  padding: 2px 5px;
}

.close-menu:hover {
  background: #fff;
  cursor: pointer;
  -webkit-transition: background-color ease-in-out .3s;
}

.to-add {
  margin: 6px auto;
}

.to-add span {
  margin-left: 10px;
}

.new-page {
  height: 21px;
  padding-left: 4px;
  border: 1px solid #E2E2E2;
  width: 150px;
}

.move,
.drop-h,
.drop-v {
  top: -10px;
  position: absolute;
  border: 1px solid #E2E2E2;
  background: #fff;
  padding: 4px 7px;
  color: #000;
  font-size: 10px;
}

.move {
  top: -10px;
  left: -10px;
  padding: 4px;
  font-size: 18px;
}

.drop-h {
  right: -10px;
}

.drop-v {
  right: 82px;
}

/*************************/

.profile {
  font-family: Oxygen, sans-serif;
  perspective: 600;
  position: relative;

  background: #F8C16A;
  border: 0 !important;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
}


.profile:hover {
  transform: rotateY(180deg);
    cursor: pointer;
  background: #EAB762;
}

.profile .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.profile .back {
  background: #eaeaed;
  color: #0087cc;
  text-align: center;
  transform: rotateY(180deg);
}

.back .avatar {
  width: auto;
  height: 40%;
  display: block;
  border-radius: 100%;
  margin: 10% auto;
}

.back a {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #C2C7CB;
  padding: 6% auto;
}

.back .delog {
  background: #D8E0E0;
  text-decoration: none;
  width: 100%;
}

.back a:hover {
  background: #EAB762;
}

/******************************/

.saveButton {
  background: #F8C16A;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
  padding: 6px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.saveButton:hover {
  background: #EAB762;
  opacity: 1;
}

.successfully-saved {
  display: none;
  padding: 6px 10px;
  position: absolute;
  top: 45px;
  right: 10px;
  border-radius: 3px;
  border: 1px solid #24B462;
  background: rgba(58, 209, 122, .4);
  color: #1FAA5A;
  font-size: 12px;
  z-index: 100;
}

.successfully-saved .icon-check {
  margin-right: 5px;
}

.successfully-saved.show {
  display: inline-block;
}

/**************/

.gridster li {
  display: block;
  cursor: move;
  border: 1px solid gray;

}

.gridster li * {
  width: 100%;
  height: 100%;
}
