
<!DOCTYPE html>
<html>
<head>
	<title>Vite editor</title>
	<link rel="stylesheet" type="text/css" href="css/editor.css">
	<link rel="stylesheet" type="text/css" href="css/editor-updates.css">
	<link rel="stylesheet" type="text/css" href="css/icomoon-style.css">
	<link rel="stylesheet" type="text/css" href="css/tooltip-classic.css">
	<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/lib/sweet-alert.css">
	<link rel="stylesheet" type="text/css" href="css/modals.css">
	<script src="js/modernizr.custom.js"></script>
</head>

<body>
	<ul class="tools">

		<li class="profile">
			<div class="side"><img src="img/logo.svg" alt="logo" class="whitelogo"></div>

			<div class="side back">
				<img src="img/avatar.jpg" alt="logo" class="avatar">
				<a href="#">Profile</a>
				<a href="#" class="delog">Logout</a>
			</div>
		</li>

		<a href="preview.html">
		<li>
				<span class="icon-eye"></span>
				<p>view</p>

		</li></a>
		<li data-target="#slide-menu">
			<span class="icon-plus"></span>
			<p>add pages</p>
		</li>

		<li data-target="#content-slide-menu">
			<span class="icon-edit"></span>
			<p>edit</p>
		</li>

		<li id="delete-comp">
			<span class="icon-trash"></span>
			<p>trash</p>
		</li>

		<li id="download-comp">
			<span class="icon-download"></span>
			<p>download</p>
		</li>
		<li id="share-comp">
			<span class="icon-share"></span>
			<p>share</p>
		</li>
		<li>
				<span class="icon-help"></span>
			<p>help</p>

		</li>
	</ul>



	<div class="modal-share">
		<ul class="comp-share">
			<h3>Share this on social media</h3>
			<li><a href="#"><span class="icon-facebook"></span>Facebook</a></li>
			<li><a href="#"><span class="icon-twitter"></span>Twitter</a></li>
			<li><a href="#"><span class="icon-tumblr"></span>Tumblr</a></li>
			<li><a href="#"><span class="icon-google-plus"></span>Google Plus</a></li>
		</ul>
	</div>


	<div class="modal-delete">
		<div class="comp-delete">
			<h3>Are you sure you want to delete theme?</h3>
			<button class="btn cancel">no, cancel</button>
			<button class="btn confirm">yes, delete</button>
		</div>
	</div>

	<div class="modal-download">
		<div class="comp-download">
			<h3>Downloading <span class="theme-name"><i>My tumblr theme</i></span></h3>
			<p>Click the button below if the download doesn't start</p>
			<span class="icon-download"></span>
			<button class="btn confirm">Download manualy</button>
		</div>
	</div>

	<div class="modal-help">
		<div class="comp-help">
			<h3>What you need to know</h3>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			<iframe width="280" height="160" src="//www.youtube.com/embed/9-Qkx9TAM10" frameborder="0" allowfullscreen></iframe>
			</p>
		</div>
	</div>

	<!-- - - - - - - CONTENT  - - - - - - - -->

	<nav class="menu-vertical cbp-spmenu-left" id="content-slide-menu">
		<a href="#" class="close-menu">
			<span class="icon-arrow-long-left"></span>
		</a>
		<hgroup>
			<h3>Content</h3>
			<p class="description">Drag and drop elements to your page</p>
		</hgroup>

		<ul class="dom">
			<li class="draggable" data-type="heading">Text items <span class="icon-plus"></span></li>
			<li class="draggable">Block items <span class="icon-plus"></span></li>
			<li class="draggable">Misc items <span class="icon-plus"></span></li>
			<li class="draggable">Jay-z items <span class="icon-plus"></span></li>
		</ul>
	</nav>

	<!-- END CONTENT -->


	<nav class="menu-vertical cbp-spmenu-left" id="slide-menu">
		<a href="#" class="close-menu">
			<span class="icon-arrow-long-left"></span>
		</a>
		<hgroup>
			<h3>Structure</h3>
			<p class="description">Navigate and add more pages to your site</p>
		</hgroup>

		<ul class="dom">
			<li>
				Tumblr theme
				<span class="icon-trash"></span>
				<span class="icon-edit"></span>

			</li>

			<li>
				Azucar theme
				<span class="icon-trash"></span>
				<span class="icon-edit"></span>
			</li>

			<li class="to-add">
				<input type='text' name="pageName" placeholder="Page name" class="new-page"><span class="icon-trash"></span><span class="icon-check"></span></li>
			<li><a href="#" class="just-add">+ add page</a></li>
		</ul>
	</nav>

	<div id="content" class='cbp-spmenu-push'>

		<div class="save">
			<a class="saveButton" href="#" />SAVE</a>
	  		<span class="successfully-saved"><span class="icon-check"></span> Saved</span>
		</div>

		<div class="bg-overlay">
			<img src="img/close.svg" class="close" />
		</div>


		<div id="drop-area" class="drop-area">

			<div class="one-col drop-area__item">
				<span class="icon-arrow-move move">

			</div>

			<button class="btn action">+ add container</button>
		</div>

	</div>

	<script src="bower_components/classie/classie.js"></script>
	<script src="bower_components/draggabilly/dist/draggabilly.pkgd.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/sweetalert/lib/sweet-alert.js"></script>
	<script src="js/config.js"></script>
	<script src="js/dragdrop.js"></script>
	<script src="js/auth.js"></script>
	<script src="js/app.js"></script>
		<script>
			// (function() {
			// 	var body = document.body,
			// 		dropArea = document.getElementById( 'drop-area' ),
			// 		droppableArr = [], dropAreaTimeout;
			//
			// 	// initialize droppables
			// 	[].slice.call( document.querySelectorAll( '#drop-area .drop-area__item' )).forEach( function( el ) {
			// 		droppableArr.push( new Droppable( el, {
			// 			onDrop : function( instance, draggableEl ) {
			// 				// show checkmark inside the droppabe element
			// 				classie.add( instance.el, 'drop-feedback' );
			// 				clearTimeout( instance.checkmarkTimeout );
			// 				instance.checkmarkTimeout = setTimeout( function() {
			// 					classie.remove( instance.el, 'drop-feedback' );
			// 				}, 800 );
			// 				// ...
			// 			}
			// 		} ) );
			// 	} );
			//
			// 	// initialize draggable(s)
			// 	[].slice.call(document.querySelectorAll( '.draggable' )).forEach( function( el ) {
			// 		new Draggable( el, droppableArr, {
			// 			draggabilly : { containment: document.body },
			// 			onStart : function() {
			// 				// add class 'drag-active' to body
			// 				classie.add( body, 'drag-active' );
			// 				// clear timeout: dropAreaTimeout (toggle drop area)
			// 				clearTimeout( dropAreaTimeout );
			// 				// show dropArea
			// 				classie.add( dropArea, 'show' );
			// 			},
			// 			onEnd : function( wasDropped ) {
			// 				var afterDropFn = function() {
			// 					// hide dropArea
			// 					classie.remove( dropArea, 'show' );
			// 					// remove class 'drag-active' from body
			// 					classie.remove( body, 'drag-active' );
			// 				};
			//
			// 				if( !wasDropped ) {
			// 					afterDropFn();
			// 				}
			// 				else {
			// 					// after some time hide drop area and remove class 'drag-active' from body
			// 					clearTimeout( dropAreaTimeout );
			// 					dropAreaTimeout = setTimeout( afterDropFn, 400 );
			// 				}
			// 			}
			// 		} );
			// 	} );
			// })();
		</script>

    <script type="text/javascript">

		// var menuLeft = document.getElementById( 'slide-menu' ),
		// 	contentMenuLeft = document.getElementById( 'content-slide-menu' ),
		// 	pageStructure = document.getElementById( 'pageStructure' ),
		// 	pageContent = document.getElementById( 'pageContent' ),
		// 	content = document.getElementById( 'content' );
		//
		//
		// pageStructure.onclick = function() {
		// 	classie.toggle( this, 'active' );
		// 	//classie.toggle( content, 'push-toright' );
		// 	classie.toggle( menuLeft, 'cbp-spmenu-open' );
		// 	disableOther( 'pageStructure' );
		// };
		//
		// pageContent.onclick = function() {
		// 	classie.toggle( this, 'active' );
		// 	//classie.toggle( content, 'push-toright' );
		// 	classie.toggle( contentMenuLeft, 'cbp-spmenu-open' );
		// 	disableOther( 'pageContent' );
		// };
    </script>

    <script>

		// var modalWindow = function(triggerz, targetz, closez){
		//  	triggerz.bind('click', function(ev){
		//     ev.stopPropagation();
		//     targetz.addClass("active");
		//     targetz.unbind('click').bind('click', function(ev){
		//       ev.stopPropagation();
		//       $(document).add(closez[0]).bind('click', function(){
		//         targetz.removeClass('active');
		//       })
		//     })
		//   })
		// };
		//
		// var share = modalWindow($('.icon-share'), $(".modal-share"), $(".okay"));

    </script>

</body>
</html>
