
<!DOCTYPE html>
<html>
<head>
	<title>Vite editor</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/css/modals.css">
	<script src="js/modals.js"></script>
</head>
<body>

	<div class="bg-overlay">
		<img src="img/close.svg" class="close" />
	</div>

    <!-- VIDEO TOUR -->
	<div class="modal-video">
		<img src="img/close.svg" class="close" />
		<iframe width="560" height="315" src="//www.youtube.com/embed/nX38dbtEKbI" frameborder="0" allowfullscreen class="video"></iframe>
	</div>

	<!-- END  -->

	<!-- LOGIN -->

	<div class="modal-login">
		<form class="formular">

			<h3>Log in</h3>
			<label for="username">Username</label>
			<input type="text" class="username" name="username">

			<label for="password">Password</label>
			<input type="password" class="password" name="password">

			<a href="#" class="forgot-pass">Forgot password</a>

			<button type="button" class="submit">Submit</button>
			<p class="or"> or </p>
			<button type="button" class="log-tumblr">Login with Tumblr</button>
			<p class="swich">Need an account? <a href="#" class="go-register"> Register</a></p>
		</form>
	</div>

	<!-- END -->

	<!-- FORGOT -->

	<div class="modal-forgot">
		<form class="formular">
			<h3>Forgot password</h3>
			<label for="username">Your email</label>
			<input type="text" class="forgotpass" name="forgotpass">
			<p class="forgot-pass" align="center">Check your main or spam inbox</p>

			<button type="button" class="submit">Reset password</button>

			<p class="swich">Have an account? <a href="#" class="go-login"> Log in</a></p>
		</form>
	</div>

	<!-- END -->


	<!-- REGISTER -->

	<div class="modal-register">
		<form class="formular">
			<h3>Register</h3>

			<label for="username">Username</label>
			<input type="text" class="username" name="username" placeholder="Nickname">

			<label for="email">Email</label>
			<input type="text" class="email" name="email" placeholder="yourname@email.com" >

			<label for="password">Password</label>
			<input type="password" class="password" name="password"placeholder="*********" >

			<label for="repassword">Repeat Password</label>
			<input type="password" class="repassword" name="repassword" placeholder="*********">

			<p class="forgot-pass" align="center">I agree with the terms and conditions</p>

			<button type="button" class="submit">Continue</button>

			<p class="swich">Have an account? <a href="#" class="go-login"> Log in</a></p>
		</form>
	</div>

	<!-- END -->

	<header>
		<ul class="main-menu">
			<li><a href="#" class="go-tour">TOUR</a></li>
			<li><a href="#" class="go-register">REGISTER</a></li>
		</ul>
	</header>

	<div class="intro">
		<h1>Quicker way to make templates</h1>
		<p>Start using our editor right now by loggin in to your account.</p>
		<button class="btn-start go-login">START</button>
	</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="/js/config.js"></script>
	<script src="/js/auth.js"></script>
	<script src="/js/home.js"></script>

	<script type="text/javascript">

		var login = modalWindow($('.go-login'), $(".modal-login"));
		var videoTour = modalWindow($('.go-tour'), $(".modal-video"));
		var register = modalWindow($('.go-register'), $(".modal-register"));
		var forgot = modalWindow($('.forgot-pass'), $(".modal-forgot"));

	</script>
</body>
</html>
