<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
			<a href="/">
				<img src="img/logo.png" alt="Vite editor" class="logo">
			</a>

			<ul class="main-menu">
				<li><a href="#" class="tour">TOUR</a></li>
				<li><a href="#" class="go-register">REGISTER</a></li>
			</ul>
		</header>
		<div class="intro">
			<h1>Quicker way to make templates</h1>
			<p>Start using our editor right now by loggin in to your account.</p>
			<button class="btn-start">START</button>
	</div>
  </body>
</html>
