<ul class="tools">
  <li class="profile" style="pointer-events: auto;">
    <div class="side"><img src="img/logo.svg" alt="logo" class="whitelogo"></div>
    <div class="side back">
      <img src="img/avatar.jpg" alt="logo" class="avatar">
      <a href="#">Profile</a>
      <a href="#" ng-click="logout()" class="delog">Logout</a>
    </div>
  </li>
  <li ng-repeat="tool in tools" ng-click="go(tool.state)" ng-class="{'active': tool.active}">
    <span ng-class="tool.icon"></span>
    <p>{{tool.text}}</p>
  </li>
</ul>
