<div ng-controller="vite.editor.aside.ComponentsCtrl">
	<hgroup>
		<h3>Content</h3>
		<p class="description">Drag and drop elements to your page</p>
	</hgroup>

	<ul class="dom">
		<li class="draggable" draggable>Blog  <span class="icon-plus"></span></li>
		<li class="draggable" draggable>Text items <span class="icon-plus"></span></li>
		<li class="draggable" draggable>Block items <span class="icon-plus"></span></li>
		<li class="draggable" draggable>Misc items <span class="icon-plus"></span></li>
		<li class="draggable" draggable>Jay-z items <span class="icon-plus"></span></li>
	</ul>
</div>
