<div ng-controller="vite.editor.aside.StructureCtrl">
	<hgroup>
		<h3>Structure</h3>
		<p class="description">Navigate and add more pages to your site</p>
	</hgroup>
	<ul class="dom">
		<li>
			Tumblr theme
			<span class="icon-trash"></span>
			<span class="icon-edit"></span>
		</li>
		<li>
			Azucar theme
			<span class="icon-trash"></span>
			<span class="icon-edit"></span>
		</li>
		<li class="to-add">
			<input type='text' name="pageName" placeholder="Page name" class="new-page"><span class="icon-trash"></span><span class="icon-check"></span></li>
		<li><a href="#" class="just-add">+ add page</a></li>
	</ul>
</div>
