<div class="log-in">
  <img src="img/close.png" alt="close" ng-click="closeModal()" class="close-ico">
  <form class="formular">
    <h3>Log in</h3>
    <label for="username">Username</label>
    <input type="text" class="username" name="username">
    <label for="password">Password</label>
    <input type="password" class="password" name="password">
    <a href="#" class="forgot-pass">Forgot password</a>

    <button type="button" class="submit">SUBMIT</button>
    <p class="swich">Need an account? <a href="#"> Register</a></p>
</form>
</div>
